---
toc: true
layout: archive
author_profile: false
title: Welcome to the Q# Community!
permalink: /
---
<h1>👋 Welcome!</h1>
<a href="https://qsharp.community/coc"><img alt="Code of Conduct Badge" src="https://img.shields.io/badge/Q%23%20Community-Code%20of%20Conduct-%233b9cba?color=409ae1&" title="coc-badge" /></a>
<a href="https://discord.qsharp.community"><img alt="Discord Badge" src="https://img.shields.io/discord/724763240751562794?color=409ae1&logo=Discord" title="discord-badge" /></a>
<a href="https://twitter.com/qsharpcommunity"><img alt="Twitter Badge" src="https://img.shields.io/twitter/follow/qsharpcommunity?color=409ae1&logo=twitter&style=flat" title="discord-badge" /></a>
<a href="https://github.com/qsharp-community/qsharp-community.github.io/blob/master/LICENSE"><img alt="GitHub Licence" src="https://img.shields.io/github/license/qsharp-community/qsharp-community.github.io"/></a>
<br><br>
The Q# Community collects + maintains projects related to the Q# programming language by a community of folks who are excited about quantum programming!

<h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Featured Community Projects" }}</h2>

{% include feature_row %}

<h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Community Posts" }}</h2>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}


