---
layout: archive
author_profile: false
title: Welcome to the Q# Community!
permalink: /
toc: false
---
<h1>Welcome!</h1>
<a href="https://join.slack.com/t/qsharp-community/shared_invite/zt-fnsl4u42-u21wdJRzlLF9oAqYTDDtwA"><img src="https://img.shields.io/badge/slack-QSharpCommunity-blue.svg?logo=slack" title="slack-badge" /></a>
<img alt="GitHub" src="https://img.shields.io/github/license/qsharp-community/qsharp-community.github.io">
<br><br>
This group collects + maintains projects related to the Q# programming language by a community of folks who are excited about quantum programming! 😊

<h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Community Posts" }}</h2>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}

<h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Featured Community Projects" }}</h2>

{% include feature_row %}

